<form (ngSubmit)="submit()" [formGroup]="formGroup" class="app-customer">
  <input type="hidden" formControlName="id" />
  <div class="flex">
    <div class="flex flex-col mr-6">
      <mat-form-field class="mr-4">
        <mat-label>Title</mat-label>
        <input data-testid="inp-title" formControlName="title" matInput />
      </mat-form-field>

      <mat-form-field class="mr-4">
        <mat-label>Speakers</mat-label>
        <input data-testid="inp-speakers" formControlName="speakers" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Room</mat-label>
        <input data-testid="inp-room" formControlName="room" matInput />
      </mat-form-field>
    </div>

    <div
      formGroupName="schedule"
      class="flex flex-col items-baseline w-[250px]"
    >
      <mat-form-field class="w-full">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          data-testid="inp-schedule-date"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker" />
        <mat-datepicker #picker />
      </mat-form-field>

      <div>
        <mat-form-field class="w-5/12">
          <mat-label>Start Hour</mat-label>
          <input data-testid="inp-title" formControlName="startHour" matInput />
        </mat-form-field>
        <span class="px-2">:</span>
        <mat-form-field class="w-5/12">
          <mat-label>Start Minute</mat-label>
          <input
            data-testid="inp-title"
            formControlName="startMinute"
            matInput
          />
        </mat-form-field>
      </div>

      <mat-form-field class="w-full">
        <mat-label>Duration in Minutes</mat-label>
        <input
          data-testid="inp-title"
          formControlName="durationInMinutes"
          matInput
        />
      </mat-form-field>
    </div>
  </div>

  <app-md-editor formControlName="abstract"></app-md-editor>

  <div class="flex gap-4">
    <a [routerLink]="['..']" mat-raised-button>Back</a>
    <button
      color="warn"
      mat-raised-button
      type="button"
      data-testid="btn-delete"
    >
      Delete
    </button>
    <button
      color="primary"
      mat-raised-button
      type="submit"
      data-testid="btn-submit"
    >
      Save
    </button>
  </div>
</form>
