@use "@angular/material/prebuilt-themes/deeppurple-amber.css";


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(white, white), url("./assets/background.jpeg");
  background-size: cover;
  background-blend-mode: saturation;
}

a {
  color: #2193b0;
}

mat-checkbox + mat-checkbox, mat-radio-button + mat-radio-button {
  margin-left: 1.5em;
}

.content-width {
  width: 450px;
}

h2 {
  font-weight: bold;
  font-size: 125%;
}

// tailwind fix
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
